nav{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.login-custom{
  background: red;
  color:white;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 20px !important;
}

.login-custom:hover{
  color: white !important;
}
.logOutBtn{
  cursor:pointer;
}
.logOutBtn svg{
    font-size: 30px;
    background: red;
    margin: 6px 0px 0px 0px;
    padding: 4px;
    border-radius: 15px;
}