nav{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.login-custom{
  background:#0081CF;
  color:white;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 20px !important;
}

.login-custom:hover{
  color: white !important;
}
.logOutBtn{
  cursor:pointer;
}
.logOutBtn svg{
  font-size: 34px;
  background: #e4e4e4;
  margin: 6px 0px 0px 0px;
  padding: 6px;
  border-radius: 15px;
  color: black;
}