.details img{
  margin-right:10px;
}
.custom-height{
  line-height: 10px;
}
.delete-btn{
  background: #f17a7a;
  font-size: 30px;
  padding: 5px;
  border-radius: 35px;
  margin-right: 20px;
  cursor:pointer;
}
.imgHover img{
  transition: .4s;
}
.imgHover:hover img{
  transform:scale(1.1);
}