.custom-shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.custom-shadow-sec{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.deliveredBtn {
    border: none;
    outline: none;
    padding: 8px 18px;
    background: #EF4A23;
    border-radius: 6px;
    color: white;
    margin:20px 0px;
    transition: .5s;
    margin-right: 16px;
}
.deliveredBtn:hover{
  background: #c3634d;
}
.details-img img{
  transition: .5s;
}
.details-img:hover img{
  transform:scale(1.1);
}